---
import { useTemplaterAndProjector } from '@forastro/utilities';
import Icon from 'astro-icon';
import { Image } from 'astro:assets';
import type { CollectionKey, ImageFunction, z } from 'astro:content';

type Props = {
  type?: 'long' | 'short';
  collection: CollectionKey;
  slug: string;
  imageSrc: z.infer<ReturnType<ImageFunction>>;
  updateDate?: string;
} & Record<'title' | 'description' | 'pubDate', string>;

const {
  type,
  description,
  pubDate,
  updateDate,
  title,
  imageSrc,
  collection,
  slug,
} = Astro.props;

const [ShortCardTemplater, ShortCardProjector] = useTemplaterAndProjector();

const [LongCardTemplater, LongCardProjector] = useTemplaterAndProjector();
---

<LongCardTemplater>
  <article
    transition:name={`${collection}-${slug}`}
    class="rounded ring-1 flex flex-col"
  >
    <header>
      <Image
        src={imageSrc}
        alt=""
        class="object-cover w-full brightness-90 dark:brightness-120"
      />
    </header>
    <div class="px-3 py-1">
      <a class="block outline-6 p-0" href={`/${collection}/${slug}`}>
        <div class="font-bold text-xl px-2 py-2">{title}</div>
      </a>
      <p class="text-lg px-6 py-2">{description}</p>
    </div>

    <footer class="text-sm px-8 py-4 flex justify-between">
      <div class="flex items-center gap-2">
        <Icon name="mdi:calendar-month" class="w-6" />
        {pubDate && <time datetime={pubDate}>{pubDate}</time>}
      </div>

      {
        updateDate && (
          <div class="flex items-center gap-2">
            <Icon name="mdi:calendar-month" class="w-6" />
            <time datetime={updateDate}>{updateDate}</time>
          </div>
        )
      }
    </footer>
  </article>
</LongCardTemplater>

<ShortCardTemplater>
  <article
    transition:name={`${collection}-${slug}`}
    class="rounded-md ring-1 overflow-hidden grid grid-rows-2 sm:flex sm:h-32"
  >
    <header class="flex flex-1">
      <Image src={imageSrc} alt="" class="object-fill" />
    </header>

    <footer class="text-sm sm:(basis-3/5 flex flex-col)">
      <div data-element="title" class="px-2 py-2 font-bold text-lg sm:flex-1">
        <a class="block outline-6" href={`/${collection}/${slug}`}>
          {title}
        </a>
      </div>
      <div data-element="dates-display" class="px-8 py-4">
        <div data-content class="flex justify-between">
          <div class="flex gap-2">
            <Icon name="mdi:calendar-month" class="w-6" />
            {pubDate && <time datetime={pubDate} />}
          </div>

          {
            updateDate && (
              <div class="flex gap-2">
                <Icon name="mdi:calendar-month" class="w-6" />
                <time datetime={updateDate} />
              </div>
            )
          }
        </div>
      </div>
    </footer>
  </article>
</ShortCardTemplater>

{type === 'short' ? <ShortCardProjector /> : <LongCardProjector />}
