---
import { SITE_DESCRIPTION } from '../constants';
import {executeIfElse} from '@forastro/utilities';
import PostCard from '../components/PostCard.astro';
import Default from '../layouts/Default.astro';
import { getCollection } from 'astro:content';

const LatestFivePosts = (
  await getCollection("astro")
)
.map((entry) => (
      { 
        slug: entry?.slug, 
        collection: entry?.collection,
      ...entry.data
     }
  )
);


---


<Default title="Home" description={SITE_DESCRIPTION}>
  <div data-element="posts-layout--xl" class:list={['hidden xl:block']}>
    <div data-content class="grid grid-cols-2 gap-12">
      {executeIfElse({
          condition: LatestFivePosts.length === 0,
          
         ifCb:()=> "No posts yet",
          
          
         elseCb() {
            
           const [firstPost, ...restOfThePosts] = LatestFivePosts;

          return (
            <>
              <div>
                <PostCard 
                type='long' 
                imageSrc={firstPost.heroImage}
                title={firstPost.title},
                slug={firstPost.slug}
                collection={firstPost.collection}
                description={firstPost.description}
                pubDate={firstPost.pubDate?? ''} ``
                />
              </div>

              {executeIfElse({
                condition: restOfThePosts.length === 0,

                ifCb() {
                  return "More posts comming soon.";
                },

                elseCb() {
                  return (
                    <div class="flex flex-col gap-6">
                      {restOfThePosts.map((value) => (
                        <PostCard 
                          type='short' 
                          imageSrc={value.heroImage}
                          title={value.title},
                          description={value.description}
                          slug={value.slug}
                          collection={value.collection}
                          pubDate={value.pubDate?? ''} 
                      />
                      ))}
                    </div>
                  );
                },
              })}
            </>
          );
        },

      })
          
      }
    </div>
  </div>
</>
