---
import Copyright from '../components/Copyright.astro';
import Default from './Default.astro';
import { useTemplaterAndProjector } from '@forastro/utilities';
import { Image } from 'astro:assets';
import { attemptToCreateSpacedStringFromLowerCaseAndDashedFileName } from '../utils';

interface Props {
  title: string;
  collection: string;
  slug: string;
  description: string;
  pubDate?: string;
  updateDate?: string;
  heroImage?: ImageMetadata;
}

const { slug, collection, title, description, pubDate, updateDate, heroImage } =
  Astro.props;

const [UpdatedDateTemplater, UpdatedDateProjector] = useTemplaterAndProjector();
---

<Default {...{ title, description }}>
  <header class="px-12 py-6 grid gap-4">
    <nav class="py-4 px-12">
      <div>
        <div class="flex justify-between items-center">
          <a href="/">Go Home</a>
        </div>
      </div>
    </nav>
    <dix class="w-3/5">
      <div class="py-6 px-3 grid gap-9">
        {
          heroImage && (
            <div class="flex ring-2 ring-current brightness-90 dark:brightness-120">
              <Image
                src={heroImage}
                class="object-cover w-full"
                alt={attemptToCreateSpacedStringFromLowerCaseAndDashedFileName(
                  heroImage.src,
                )}
              />
            </div>
          )
        }

        <h1>{title}</h1>

        {pubDate ? <time datetime={pubDate} /> : null}

        {updateDate ? <UpdatedDateProjector /> : null}
      </div>
    </dix>
  </header>

  <article
    data-pagefind-body
    transition:name={`${collection}-${slug}`}
    transition:animate="initial"
    class="px-12 py-6 mx-auto prose prose-slate dark:prose-invert"
  >
    <slot />
  </article>

  <footer class="px-12 py-6">
    <Copyright />
  </footer>
</Default>

<UpdatedDateTemplater>
  <div>
    Last updated on <time>{updateDate}</time>
  </div>
</UpdatedDateTemplater>
